/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg');
  /* Legacy iOS */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg');
  /* Legacy iOS */
}

/*colors*/
:root {
  --white: #FFFFFF;
  --background-grey-main: #888888;
  --background-grey: #EEEEEE;
  --background-blue: #81B3D2;
  --background-blue-hover: #669EC0;
  --background-blue-pressed: #5496BD;
  --background-footer: rgba(255, 255, 255, 0.9);
  --background-button-main: #766357;
  --background-rating-hotels: #F2F2F2;
  --text-color-main: #000000;
  --text-color: #333333;
  --text-color-rating: #666666;
  --border-separator: #E5E5E5;
  --visited-color: #766357;
}

/*basic*/
.page {
  background-color: var(--background-grey);
  height: 100%;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--white);
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

}

.page-footer-main {
  background-color: var(--background-footer);
  padding-top: -120px;
}

/* generic */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.visually-as-link {
  color: var(--text-color-main);
}

.visually-as-link:hover,
.visually-as-link:focus {
  color: var(--background-blue)
}

.visually-as-link:active{
  color: rgba(0, 0, 0, 0.25)
}

/* navigation */
.navigation {
  height: 56px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.navigation-menu {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  height: 56px;
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-menu-item{
  width: 25%;
}

.navigation-menu-item-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color-main);
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-menu-item-info{
  text-align: left;
}

.navigation-menu-item-photo{
  text-align: left;
}

.navigation-menu-item-map{
  text-align: right;
}

.navigation-menu-item-hotels{
  text-align: right;
}

.navigation-menu-item-link:hover:not(.navigation-menu-item-link-current),
.navigation-menu-item-link:focus {
  color: var(--background-blue)
}

.navigation-menu-item-link-current{
  color: var(--visited-color);
  pointer-events: none;
}

.navigation-menu-item-link:active:not(.navigation-menu-item-link-current){
  color: rgba(0, 0, 0, 0.25)
}

.navigation-menu-item-link-first{
  padding-left: 75px;
}

.navigation-menu-item-link-last{
  padding-right: 75px;
}

.navigation-logo {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  justify-self: center;
}

/* footer */
.page-footer {
  padding-left: 75px;
  padding-right: 75px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  vertical-align: middle;
}

/* footer - contacts */
.page-footer-contacts {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  padding-bottom: 15px;
}

.page-footer-contacts-text{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--text-color-main);
  text-decoration: none;
  color: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* footer - social */
.page-footer-social {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer-social-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.page-footer-social-item{
  margin: 3px;
}

.page-footer-social-item-link {
  position: relative;
  width: 46px;
  height: 48px;
  background-color: var(--background-blue);
  display: block;
}

.page-footer-social-item-link:hover{
  background-color: var(--background-blue-hover);
}

.page-footer-social-item-link:active{
  background-color: var(--background-blue-pressed);
}

.page-footer-social-item-link:active::before{
  opacity: 0.3;
}

.page-footer-social-item-link::before{
  content: "";
  display: block;
  position: absolute;
}

.page-footer-social-item-link-tw::before{
  top: 17px;
  left: 15px;
  width: 17px;
  height: 17px;
  background: url(../img/twitter.svg) no-repeat center;
}

.page-footer-social-item-link-fb::before {
  top: 13px;
  left: 17px;
  width: 12px;
  height: 22px;
  background: url(../img/fb-icon.svg) no-repeat center;
}

.page-footer-social-item-link-yt::before {
  top: 16px;
  left: 13px;
  width: 20px;
  height: 16px;
  background: url(../img/youtube.svg) no-repeat center;
}

/* footer - developer */

.page-footer-developer {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-left: 90px;
}

.page-footer-developer-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--text-color-main)
}

.page-footer-developer-logo {
  padding-left: 8px;
}

.page-footer-developer-logo-svg{
  width: 115px;
  height: 41px;
  fill: #231f20;
}

.page-footer-developer-logo-svg:hover,
.page-footer-developer-logo-svg:focus {
  fill: #81b3d2;
}

.page-footer-developer-logo-svg:active{
  fill: #bdbbbc;
}

/*main index page*/
.description-sedona {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--text-color-main);
  text-transform: uppercase;
}

.description-sedona-poster {
  background: url(../img/sedona-poster.jpg);
  width: 1200px;
  height: 509px;
  display: grid;
  grid-template-rows: auto min-content;
}

.description-sedona-welcome {
  justify-self: center;
  padding-top: 76px;
  margin: 0px;
}

.description-sedona-shape {
  grid-row-start: 2;
}

.description-sedona-about {
  text-align: center;
  padding-top: 42px;
}

.features-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;
}

.features-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text-color);
  list-style: none;
  padding-inline-start: 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
  text-align: center;
}

.features-list-add {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text-color);
  list-style: none;
  padding-inline-start: 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  text-align: center;
}

.features-item {
  padding: 0px;
  margin: 0px;
}

.feature-real-life {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-columns: 400px 1fr;
}

.features-sedona-foto {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  background: none;
}

.features-rooms {
  grid-column-start: 1;
}

.features-food {
  grid-column-start: 2;
  grid-column-end: 3;
}

.features-souvenirs {
  grid-column-start: 3;
  grid-column-end: 4;
}

.feature-diablo-bridge {
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr 400px;
}

.features-diablo-foto {
  grid-column-start: 1;
  grid-column-end: 2;
}

.feature-square {
  grid-column-start: 1;
  grid-row-start: 4;
}

.feature-road {
  grid-column-start: 2;
  grid-row-start: 4;
}

.feature-tourists {
  grid-column-start: 3;
  grid-row-start: 4;
}

.features-sedona-views {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
}

.features-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}

.background-item-grey {
  background-color: var(--background-grey);
}

.background-item-white {
  background-color: var(--white);
  /*box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);*/
}

.background-item-blue {
  background-color: var(--background-blue);
  color: var(--white);
}

.modal-search-hotel {
  text-align: center;
}

.modal-search-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.interested {
  font-weight: bold;
  font-size: 30px;
}

.button-modal-search {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--background-button-main);
  border: none;
  width: 568px;
  height: 86px;
}

/*modal search hotels*/
.search-form-main {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.button-result-search {
  width: 458px;
  height: 58px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--background-blue);
  color: var(--white);
  border: none;
}

/*main hotels page*/
.filter-hotels {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white);
  background-image: url(../img/background-filter.jpg);
  background-repeat: no-repeat;
  height: 217px;
}

.filter-hotels-all {
  display: grid;
  grid-template-columns: 600px 600px;
}

.filter-hotels-value {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filter-hotels-price {
  display: grid;
  grid-template-rows: min-content min-content;
}

.list-unstyled {
  list-style: none;
}

.fieldset-unstyled {
  border: 0;
}

.filter-legends {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.range-price {
  border-collapse: collapse;
  border-color: var(--white);
  border: 2px solid;
  border-radius: 2px;
}

.price-hotels-min {
  border-color: var(--white);
  border: 2px solid;
}

.button-result-filter {
  width: 137px;
  height: 36px;
  border-color: var(--white);
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--white);
}

.hotels-header {
  display: grid;
  grid-template-columns: 135px 1fr;
  padding: 0px 73px 0px 73px;
  border-bottom: 1px solid var(--border-separator);
}

.hotels-found {
  grid-column-start: 1;
}

.hotels-found-text{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.hotels-sorting {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 29px;
}

.hotels-sorting-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.hotels-sorting-options {
  display: grid;
  grid-template-columns: 110px 1fr auto;
  column-gap: 5px;
}

.hotels-sorting-options-header{
  grid-column-start: 1;
}

.hotels-sorting-options-list {
  display: grid;
  grid-template-columns: 76px 76px 76px;
}

.hotels-sorting-options-list-price{
  grid-column-start: 1;
}

.hotels-sorting-options-list-type{
  grid-column-start: 2;
}

.hotels-sorting-options-list-rating{
  grid-column-start: 3;
}

.hotels-sorting-option-item {
  mix-blend-mode: normal;
  opacity: 0.3;
  text-decoration: dotted underline;
  color: var(--text-color-main);
}

.hotels-sorting-direction {
  grid-column-start: 3;
}

.hotels-list {
  margin: 0px;
  padding: 0px;
}

.hotels-list-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text-color);
}

.hotels-list-item {
  border-bottom: 1px solid var(--border-separator);
  padding: 30px 73px 30px 73px;
  display: grid;
  grid-template-columns: 135px 29px 110px 5px 1fr 29px auto;
  grid-template-rows: 30px 30px 30px;
  height: 90px;
}

.hotels-list-item-image {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hotels-list-item-title {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 1;
  margin: 0px;
  padding: 0px;
}

.hotels-list-item-stars{
  grid-column: 8;
  grid-row: 1;
  margin-left: auto;
  margin-right: 0px;
}

.hotels-list-item-rating{
  grid-column: 8;
  grid-row: 3;
  width: 110px;
  height: 27px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-rating-hotels);
  color: var(--text-color-rating);
  border: none;
}

.hotels-list-item-type{
  grid-column: 3;
  grid-row: 2;
}

.hotels-list-item-price {
  grid-column: 5;
  grid-row: 2;
}

.hotels-list-item-button-about{
  grid-column: 3;
  grid-row: 3;
  width: 110px;
  background-color: var(--background-blue);
}

.hotels-list-item-button-booking{
  grid-column: 5;
  grid-row: 3;
  width: 142px;
  background-color: var(--background-button-main);
}

.hotels-list-item-button{
  height: 27px;
  font-weight: bold;
  color: var(--white);
  border: none;
  text-transform: uppercase;
  color: var(--white);
}

.checked {
  text-decoration: none;
  color: var(--background-blue);
}
