/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg');
  /* Legacy iOS */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg');
  /* Legacy iOS */
}

/*colors*/
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #333333;

  --color-button-blue:  #81B3D2;
  --color-button-blue-hover:   #669EC0;
  --color-button-blue-focus:   #669EC0;
  --color-button-blue-active:  #5496BD;
  --color-button-brown:  #766357;
  --color-button-brown-hover:  #604e43;
  --color-button-brown-focus:  #604e43;
  --color-button-brown-active:  #503e33;

  --color-control-background: #F2F2F2;
  --color-control-backgrounnd-hover: #EBEBEB;
  --color-control-background-focus: #FFFFFF;
  --color-control-border-focus: #E5E5E5;
  --color-control-fill: #A9A9A9;
  --color-control-fill-hover: #000000;
  --color-control-fill-focus:#81B3D2;

  --color-navigation-menu-item: #000000;
  --color-navigation-menu-item-active:  rgba(0, 0, 0, 0.25);
  --color-navigation-menu-item-focus:   #81B3D2;
  --color-navigation-menu-item-hover:  #81B3D2;
  --color-navigation-menu-item-current:  #766357;

  --color-page-background: #F2F2F2;

  --color-page-footer-background: rgba(255, 255, 255, 0.9);
  --color-page-footer-developer-logo: #231F20;
  --color-page-footer-developer-logo-active:  #bdbbbc;
  --color-page-footer-developer-logo-focus:  #81B3D2;
  --color-page-footer-developer-logo-hover:  #81B3D2;
  --color-page-footer-social-item:  #81B3D2;
  --color-page-footer-social-item-active:  #5496BD;
  --color-page-footer-social-item-focus:  #669EC0;
  --color-page-footer-social-item-hover:  #669EC0;

  --color-features-background-blue: #81B3D2;
  --color-features-background-grey: #EEEEEE;

  --color-hotels-filter-button-show-focus: #FFFFFF;
  --color-hotels-filter-button-show-hover: #FFFFFF;
  --color-hotels-list-item-title:  #000000;
  --color-hotels-list-item-title-active: rgba(0, 0, 0, 0.25);
  --color-hotels-list-item-title-focus: #81B3D2;
  --color-hotels-list-item-title-hover: #81B3D2;
  --color-hotels-list-separator: #E5E5E5;
  --color-hotels-rating-background:  #F2F2F2;
  --color-hotels-rating-text: #666666;
  --color-hotels-sorting-options: rgba(0, 0, 0, 0.25);
  --color-hotels-sorting-options-active: #000000;
  --color-hotels-sorting-options-focus: #81B3D2;
  --color-hotels-sorting-options-hover: #81B3D2;
  --color-hotels-sorting-options-border: #81B3D2;
  --color-hotels-sorting-options-current: #81B3D2;
  --color-hotels-sorting-direction: #CACACA;
  --color-hotels-sorting-direction-active:  #81B3D2;
  --color-hotels-sorting-direction-focus: #000000;
  --color-hotels-sorting-direction-hover:  #000000;
}

/* page */
.page {
  background-color: var(--color-page-background);
  height: 100%;
  display: grid;
  grid-template-rows: min-content;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--color-white);
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* generic */
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fieldset-unstyled {
  border: 0;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.visually-as-button {
  display: block;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  padding: 3px 17px;
}

.visually-as-button-blue {
  background-color: var(--color-button-blue);
}

.visually-as-button-blue:hover,
.visually-as-button-blue:focus {
  background-color: var(--color-button-blue-hover);
}

.visually-as-button-blue:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-button-blue-active);
}

.visually-as-button-brown {
  background-color: var(--color-button-brown);
}

.visually-as-button-brown:hover,
.visually-as-button-brown:focus {
  background-color: var(--color-button-brown-hover);
}

.visually-as-button-brown:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-button-brown-active);
}


/* navigation */
.navigation {
  height: 56px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.navigation-menu {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 56px;
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-menu-item{
  width: 25%;
}

.navigation-menu-item-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-menu-item-link-first {
  padding-left: 73px;
}

.navigation-menu-item-link-last {
  padding-right: 73px;
}

.navigation-menu-item-info{
  text-align: left;
}

.navigation-menu-item-photo{
  text-align: left;
}

.navigation-menu-item-map{
  text-align: right;
}

.navigation-menu-item-hotels{
  text-align: right;
}

.navigation-menu-item-link:hover:not(.navigation-menu-item-link-current),
.navigation-menu-item-link:focus {
  color: var(--color-navigation-menu-item-hover);
}

.navigation-menu-item-link-current{
  color: var(--color-navigation-menu-item-current);
  pointer-events: none;
}

.navigation-menu-item-link:active:not(.navigation-menu-item-link-current){
  color: var(--color-navigation-menu-item-active);
}

.navigation-logo {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  justify-self: center;
}

/* footer */
.page-footer {
  height: 120px;
  padding-left: 73px;
  padding-right: 73px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color-page-footer-background);
}

/* footer - contacts */
.page-footer-contacts {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  padding-bottom: 15px;
}

.page-footer-contacts-text{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-black);
  text-decoration: none;
  color: inherit;
  margin-top: 5px;
  margin-bottom: 4px;
}

/* footer - social */
.page-footer-social {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.page-footer-social-item-link {
  width: 46px;
  height: 48px;
  background-color: var(--color-page-footer-social-item);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  margin: 3px;
}

.page-footer-social-item-link:hover{
  background-color: var(--color-page-footer-social-item-hover);
}

.page-footer-social-item-link:active{
  background-color: var(--color-page-footer-social-item-active);
}

.page-footer-social-item-link:active::before{
  opacity: 0.3;
}

.page-footer-social-item-link-tw {
  background-image: url(../img/twitter.svg);
  background-size: 17px 17px;
}

.page-footer-social-item-link-fb {
  background-image: url(../img/fb-icon.svg);
  background-size: 12px 22px;
}

.page-footer-social-item-link-yt {
  background-image: url(../img/youtube.svg);
  background-size: 20px 16px;
}

/* footer - developer */

.page-footer-developer {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-left: 90px;
}

.page-footer-developer-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-black);
}

.page-footer-developer-logo {
  padding-left: 8px;
}

.page-footer-developer-logo-svg{
  width: 115px;
  height: 41px;
  fill: var(--color-page-footer-developer-logo);
}

.page-footer-developer-logo-svg:hover,
.page-footer-developer-logo-svg:focus {
  fill: var(--color-page-footer-developer-logo-hover);
}

.page-footer-developer-logo-svg:active{
  fill: var(--color-page-footer-developer-logo-active);
}

/* index page */
.index-main {
  margin-bottom: -120px;
}

.index-town-attractor {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--color-black);
  text-transform: uppercase;
}

.index-town-attractor-poster {
  background: url(../img/sedona-poster.jpg);
  width: 1200px;
  height: 509px;
  display: grid;
  grid-template-rows: auto min-content;
}

.index-town-attractor-poster-welcome {
  justify-self: center;
  padding-top: 76px;
  margin: 0;
}

.index-town-attractor-poster-shape {
  grid-row-start: 2;
}

.index-town-attractor-about-town {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 42px;
}

.index-town-features {
  margin-top:43px;
}

.index-town-features-title{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-grey);
  text-align: center;
  margin: 0;
  padding: 0;
}

.index-town-features-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-grey);
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 53px;
}

.index-town-features-item{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.index-town-features-item-img {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.index-town-feature {
  width: 400px;
  height: 256px;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-town-feature-title {
  color: var(--color-grey);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 47px;
}

.index-town-feature-number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 26px;
}

.index-town-feature-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
}

.index-town-feature-colored-blue {
  background-color: var(--color-features-background-blue);
  color: var(--color-white);
}

.index-town-feature-colored-blue .index-town-feature-title{
  color: var(--color-white);
}

.index-town-feature-colored-blue .index-town-feature-number{
  color: var(--color-white);
}

.index-town-feature-colored-blue .index-town-feature-description{
  color: var(--color-white);
}

.index-town-feature-colored-grey {
  background-color: var(--color-features-background-grey);
}

.index-town-feature-colored-grey .index-town-feature-title{
  color: var(--color-black);
}

.index-town-feature-colored-grey .index-town-feature-number{
  color: var(--color-grey);
}

.index-town-feature-colored-grey .index-town-feature-description{
  color: var(--color-grey);
}

.index-town-features-general-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
}

.index-town-features-general-item {
  width: 400px;
  height: 330px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
}

.index-town-features-general-item-title {
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.index-town-features-general-item-img {
  margin: 0;
  padding: 0;
  order: -1;
  height: 132px;
  display: flex;
  flex-direction: column-reverse;
}

.index-town-features-general-item-title::before {
  content: "";
  position: absolute;
  display: block;
}

.index-town-features-general-item-description {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-grey);
}

.index-hotel-search {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-hotel-search-question {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 56px;
}

.index-hotel-search-offer {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
}

.index-hotel-search-now {
  position: relative;
  margin: 0 auto;
  width: 568px;
  margin-top: 45px;
}

.index-hotel-search-button {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 100%;
  height: 86px;
  z-index: 2;
}

/*index page search form*/
.index-search-hotel-form{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: 55px 1fr 55px;
  grid-template-rows: 55px auto 55px auto 55px;
  background-color: var(--color-white);
  z-index: 1;
}

.index-search-hotel-form-options {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.index-search-hotel-form-row {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.index-search-hotel-form-row + .index-search-hotel-form-row {
  margin-top: 29px;
}

.index-search-hotel-form-legend {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-black);
  width: 112px;
}

.index-search-hotel-form-legend-children {
  width: auto;
  margin-left: 53px;
  margin-right: 27px;
}

.index-search-hotel-form-control {
  height: 38px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-black);
  outline: none;
  border: none;
  background-color: var(--color-control-background);
  display: flex;
}

.index-search-hotel-form-editable {
  outline: none;
  background-color: var(--color-control-background);
  border: 2px solid var(--color-control-background);
  box-sizing: border-box;
  width: 38px;
  text-align: center;
}

.index-search-hotel-form-editable:hover,
.index-search-hotel-form-editable:focus {
  background-color: var(--color-control-backgrounnd-hover);
  border: 2px solid var(--color-control-backgrounnd-hover);
}

.index-search-hotel-form-editable:active{
  background-color: var(--color-control-backgrounnd-focus);
  border: 2px solid var(--color-control-border-focus);
}

.index-search-hotel-form-control-button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  flex-basis: 38px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.index-search-hotel-form-control-button .index-search-hotel-form-control-button-svg {
  fill: var(--color-control-fill);
}

.index-search-hotel-form-control-button:hover .index-search-hotel-form-control-button-svg,
.index-search-hotel-form-control-button:focus .index-search-hotel-form-control-button-svg {
  fill: var(--color-control-fill-hover);
}

.index-search-hotel-form-control-button:active .index-search-hotel-form-control-button-svg
 {
  fill: var(--color-control-fill-focus);
}

.index-search-hotel-form-control-button::before,
.index-search-hotel-form-control-button::after{
  background-color: var(--color-control-fill);
}

.index-search-hotel-form-control-button:hover::before,
.index-search-hotel-form-control-button:focus::before,
.index-search-hotel-form-control-button:hover::after,
.index-search-hotel-form-control-button:focus::after {
  background-color: var(--color-control-fill-hover);
}

.index-search-hotel-form-control-button:active::before,
.index-search-hotel-form-control-button:active::after
 {
  background-color: var(--color-control-fill-focus);
}

.index-search-hotel-form-control-input{
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
  height: 38px;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  text-transform: inherit;
  color: inherit;
  padding-left: 13px;
  padding-right: 13px;
}

.index-search-hotel-form-control-input:hover,
{
  background-color: var(--color-control-backgrounnd-hover);
}

.index-search-hotel-form-control-input:focus
{
  box-sizing: border-box;
  background-color: var(--color-control-background-focus);
  border: 2px solid var(--color-control-border-focus);
}

.index-search-hotel-form-date-picker{
  width: 346px;
  height: auto;
}

.index-search-hotel-form-counter {
  width: 114px;
  height: auto;
}

.index-search-hotel-form-date-picker .index-search-hotel-form-control-input {
  width: 312px;
}

.index-search-hotel-form-control-button-minus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
  top: 18px;
  left: 13px;
}

.index-search-hotel-form-control-button-plus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
  top: 18px;
  left: 13px;
}

.index-search-hotel-form-control-button-plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
  top: 18px;
  left: 13px;
  transform: rotate(90deg);
}

.index-search-hotel-form-submit {
  grid-column: 2;
  grid-row: 4;
  width: 100%;
  height: 58px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/* hotels page */
.hotels-filter {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-white);
  background-image: url(../img/background-filter.jpg);
  background-repeat: no-repeat;
  height: 217px;
}

.hotels-filter-options {
  display: flex;
  height: 100%;
}

.hotels-filter-options-features {
  display: flex;
  padding-left: 72px;
  justify-content: flex-start;
}

.hotels-filter-options-features-legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding-top: 27px;
}

.hotels-filter-options-features-list {
  min-width: 256px;
}

.hotels-filter-options-features-item {
  margin-top: 25px;
  align-items: center;
}

.hotels-filter-options-feature {
  position: relative;
  display: inline;
  padding-left:40px;
  cursor: pointer;
}

.hotels-filter-options-feature::before {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg) no-repeat;
  background-size: 23px 23px;
}

.hotels-filter-options-feature-input:checked ~ .hotels-filter-options-feature::before {
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-on.svg) no-repeat;
  background-size: 27px 23px;
}

.hotels-filter-options-feature-input:disabled ~ .hotels-filter-options-feature {
  color: var(--color-hotels-sorting-checkbox-blocked);
}

.hotels-filter-options-feature-input:disabled ~ .hotels-filter-options-feature::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.hotels-filter-options-feature-input:checked:disabled ~ .hotels-filter-options-feature::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.hotels-filter-options-pricing {
  align-self: flex-end;
  margin-left: auto;
  margin-bottom: auto;
  padding-right: 73px;
  width: 317px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Range bar */

.hotels-filter-options-pricing-range {
  display: flex;
  flex-wrap: wrap;
  margin-top: 11px;
}


.price-controls {
  display: flex;
  justify-content: space-between;
  width: 317px;
  height: 36px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  align-items: center;
  box-sizing: border-box;
}

.hotels-filter-options-pricing-range-input {
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--color-white);
  width: 100px;
}

.hotels-filter-options-pricing-range-input-min {
  width: 30px;
}

.hotels-filter-options-pricing-range-input-max {
  width: 50px;
}

.hotels-filter-options-pricing-range-label {
  position: relative;
  width: 50%;
  text-align: center;
  padding-bottom: 2px;
  padding-left: 22px;
  box-sizing: border-box;
}

.hotels-filter-options-pricing-range-label:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  left: 0;
  width: 2px;
  height: 22px;
  background-color: var(--color-white);
}

.hotels-filter-options-pricing-range-min-input,
.hotels-filter-options-pricing-range-max-input {
  background: inherit;
  font: inherit;
  width: 50px;
  border: none;
  color: var(--color-white);
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  border-radius: 5px;
  width: 100%;
}

.range-controls .scale {
  top: 20px;
  left: 0px;
  right: 0px;
  position: absolute;
  height: 2px;
  background: var(--color-range-control);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--color-white);
}

.range-controls .toggle {
  width: 3px;
  height: 3px;
  padding: 0;
  border: 8px solid var(--color-white);
  background-color: var(--color-toggle-center);
  border-radius: 50%;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus
 {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 9px solid var(--color-white);
  background-color: var(--color-toggle-center);
  border-radius: 50%;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  top: 10px;
  position: absolute;
  left: 0;
}

.range-controls .toggle-max {
  top: 10px;
  position: absolute;
  left: 253px;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-min:focus
 {
  top: 9px;
  position: absolute;
  left: -1px;
}

.range-controls .toggle-max:hover,
.range-controls .toggle-max:focus
 {
  top: 9px;
  position: absolute;
  left: 252px;
}

.hotels-filter-button-show {
  width: 137px;
  height: 36px;
  border-color: var(--color-white);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 13px;
  margin-right: 11px;
  align-self: center;
  outline: none;
}

.hotels-filter-button-show:hover,
.hotels-filter-button-show:focus {
  color: var(--color-black);
  background-color: var(--color-hotels-filter-button-show-hover);
  outline: none;
}

.hotels-header {
  display: grid;
  grid-template-columns: 135px 1fr;
  padding: 0 73px;
  border-bottom: 1px solid var(--color-hotels-list-separator);
  height: 87px;
}

.hotels-found {
  grid-column-start: 1;
  margin-top:30px;
  margin-bottom:30px;
}

.hotels-found-text{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-black);
}

.hotels-sorting {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 29px;
  margin-left: 29px;
}

.hotels-sorting-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-black);
}

.hotels-sorting-options {
  grid-column: 1;
  display: grid;
  grid-template-columns: 110px 4px auto 1fr;
  margin-top: 31px;
}

.hotels-sorting-options-header{
  grid-column: 1;
}

.hotels-sorting-options-list {
  grid-column: 3;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.hotels-sorting-options-list-price {
  margin-right: 32px;
}

.hotels-sorting-options-list-type {
  margin-right: 33px;
}

.hotels-sorting-options-list-rating {
  margin-right: 32px;
}

.hotels-sorting-options-link {
  margin-top: 3px;
  color: var(--color-black-transparent);
  text-decoration: none;
  border-bottom: 1px dotted var(--color-hotels-sorting-options-border);
  height: 18px;
}

.hotels-sorting-options-link-current {
  color: var(--color-hotels-sorting-options-current);
  text-decoration: none;
  border-bottom: none;
  pointer-events: none;
}

.hotels-sorting-options-link:hover,
.hotels-sorting-options-link:focus {
  color: var(--color-black-transparent);
  text-decoration: none;
  border-bottom: 1px  dotted var(--color-hotels-sorting-options-hover);
}

.hotels-sorting-options-link:hover {
  color: var(--color-hotels-sorting-options-hover);
}

.hotels-sorting-options-link:active{
  color: var(--color-hotels-sorting-options-active);
  border-color: transparent;
}


.hotels-sorting-directions {
  grid-column: 2;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 12px;
  margin-top: 36px;
}

.hotels-sorting-direction {
  width: 11px;
  height: 10px;
  display: block;
  fill: var(--color-black-transparent);
}

.hotels-sorting-direction:hover,
.hotels-sorting-direction:focus {
  fill: var(--color-black);
}

.hotels-sorting-direction:active{
  fill: var(--color-hotels-sorting-direction-active);
}

.hotels-sorting-direction-current{
  fill: var(--color-hotels-sorting-direction-active);
  pointer-events: none;
}

.hotels-sorting-direction-up {
  grid-column: 1;
}

.hotels-sorting-direction-down {
  grid-column: 2;
}

.hotels-list {
  margin: 0;
  padding: 0;
}

.hotels-list-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-grey);
}

.hotels-list-item {
  border-bottom: 1px solid var(--color-hotels-list-separator);
  padding: 30px 73px 30px 73px;
  display: grid;
  grid-template-columns: 135px 29px 110px 5px 1fr 29px auto;
  grid-template-rows: 27px 36px 27px;
  height: 90px;
}

.hotels-list-item-image {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hotels-list-item-title {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 1;
  margin: 0;
  padding: 0;
  margin-top: -6px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-hotels-list-item-title);
  text-decoration: none;
}

.hotels-list-item-title:hover,
.hotels-list-item-title:focus {
  color: var(--color-hotels-list-item-title-hover);
}

.hotels-list-item-title:active{
  color: var(--color-hotels-list-item-title-active);
}

.hotels-list-item-stars{
  grid-column: 8;
  grid-row: 1;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row-reverse;
}

.hotels-list-item-star {
  width: 18px;
  height: 17px;
  background-size: 18px 17px;
  background: url(../img/star.svg) no-repeat center;
  margin-left: 5px;
}

.hotels-list-item-rating{
  grid-column: 8;
  grid-row: 3;
  width: 110px;
  height: 27px;
  background-color: var(--color-hotels-rating-background);
  color: var(--color-hotels-rating-text);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.hotels-list-item-type{
  grid-column: 3;
  grid-row: 2;
}

.hotels-list-item-price {
  grid-column: 5;
  grid-row: 2;
}

.hotels-list-item-button-about{
  grid-column: 3;
  grid-row: 3;
  width: 110px;
}

.hotels-list-item-button-booking{
  grid-column: 5;
  grid-row: 3;
  width: 142px;
}

.hotels-list-item-button{
  height: 27px;
  padding: 0;
  margin: 0;
}
